<div class="word-form">
  <form {{action 'save' on='submit'}}>
    <div>
      <label>Hindi</label>
      {{textarea id="text_hindi" value=word.text_hindi}}
    </div>
    <div>
      <label>Romanized</label>
      {{textarea id="text_romanized" value=word.text_romanized}}
    </div>
    <div>
      <label>Meaning</label>
      {{textarea id="meaning" value=word.meaning}}
    </div>
    <div>
      <label>Category</label>
      {{textarea id="category" value=word.category}}
    </div>
    <button class="tiny radius">Submit!</button>
  </form>
</div>
