<div class="container text-center">

  {{#each error in validationErrors}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/each}}

  <div class="well">
    <section>
      <div>
        {{view "select" content=partOfSpeech value=part_of_speech}}
      </div>
      <div>
        {{textarea class="form-control" placeholder="Hindi Text" value=text_hindi}}
      </div>
      <div>
        {{textarea class="form-control" placeholder="Romanized Text" value=text_romanized}}
      </div>
      <div>
        {{textarea class="form-control" placeholder="Meaning" value=text}}
      </div>
    </section>
  </div>
  <section>
    <button class="btn btn-success btn-lg" {{action 'newWord'}}>Add Word</button>
  </section>
</div>
