<div class="container text-center">
 {{#link-to 'meanings.show' word.meaning.id (query-params wordId=word.id)}}
  <div class="well">
    <div class="part-of-speech">
      {{word.category.part_of_speech}}
    </div>
    <div class="text-hindi">
      {{word.text_hindi}}
    </div>
    <div class="text-romanized">
      {{word.text_romanized}}
    </div>
  </div>
{{/link-to}}
</div>

<div class="container text-center">
  <button class="btn btn-success btn-lg" {{action 'newModel'}}>New Word!</button>
  <button class="btn btn-info btn-lg" {{action "speakWord" model}}>Hear it!</button>
</div>
